/**** Colors ****/

$very-pale-blue: hsl(225, 100%, 98%);
$pale-blue: hsl(225, 100%, 94%);
$desaturated-blue: hsl(224, 23%, 55%);
$bright-blue: hsl(245, 75%, 52%);
$dark-blue: hsl(223, 47%, 23%);

/**** Fonts ****/

$body-font: 16px;

$font-light: 500;
$font-medium: 700;
$font-bold: 900;

/**** Gutters ****/

$gutter: 20px;

// - Font size (paragraph): 16px

// ### Font

// - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
// - Weights: 500, 700, 900